.expense {
  width: 50rem;
  margin: 2rem auto;
  padding: 15px;
  background-color: rgb(31, 31, 31);

}
.expense-items {
    background: #4b4b4b;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 7px 15px;
    color: #fff;
    margin: 10px 0;
}
.expense-items .expense-date {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #2a2a2a;
  border: 1px solid #eee;
  border-radius: 12px;
}
.expense-items .expense-date .expense-date-month {
  font-size: 0.75rem;
  font-weight: bold;
}
.expense-items .expense-date .expense-date-year {
  font-size: 0.75rem;
}
.expense-items .expense-date .expense-date-day {
  font-size: 1.5rem;
  font-weight: bold;
}
.expense-items .espense-detail {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}
.expense-items .espense-detail .expense-detail-title {
  margin-left: 2rem;
  font-size: 1.25rem;
}
.expense-items .espense-detail .expense-detail-amount {
  padding: 10px 19px;
  background: #40005d;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}
